extends layout.pug

block content
    .containerdelete
        h1.delete-contact-heading Delete Contact
        h2.contact-name #{contact.title} #{contact.first_name} #{contact.last_name}
        p Are you sure you want to delete this contact?

        section.form-section
            form(action='/' + contact.id + '/delete', method='post')
                button.btn-yes(type='submit') Yes
                br
                a.btn-nevermind(href='/' + contact.id) Nevermind
